.container {
    margin-top:5px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    border-top-color:indianred;
    border-top-width:4px;
}

.nav-tabs>li>a:hover, .nav-tabs>li>a:focus {
    border-top-color:lightcoral;
    border-top-width:4px;
}

.tabbody {
    border-width:1px;
    border-color:rgb(221,221,221);
    border-style:solid;
    border-top-width:0px;
    min-height:100px;
    padding:10px;
}